
.container{
    height: 100%;

}
.chartBar{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 90vw;
    gap: 20px;
}

.chart{
    width: 100%;
}

.bar-chart-container{
    display: flex;
    flex-direction: column;
    flex: 1;;
}

.filters-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 16px;
    flex-wrap: wrap;
    mat-form-field{
        width: 250px;
    }
}

div.painel-container{
    margin: 0 auto;
    width: 90vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}


mat-card.card{
    height: 150px;
    width: 350px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    div.indicador{
        text-align: center;
        h1{
            font-size: 2.5rem;
            margin: 0;
            margin-bottom: 5px;
        }
        p{
            font-size: 1rem;
        }
    }
}


div.progress-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    p{
        position: absolute;
        
    }
    mat-progress-spiner{
        
        position: absolute;

    }
}