


<div class="container">
      
      <div class="table-and-stats">

        <app-bix-table
        [arrayDeDados] = 'arrayDeClientes'
        [displayedColumns] = 'displayedColumns'
        [dataSource] = 'dataSource'
        [filterFields] = "filterFields"
        (eventoAtualizar) = 'atualizarCliente($event)'
        (eventoCadastrar) = 'cadastrarCliente()'
        (eventoExcluir) = 'excluirCliente($event)'
        (eventoExcluirMultiplos) = 'excluirMultiplos($event)'
        ></app-bix-table>

        <div class="indicatorsContainer">
          
          <div>
  
            <mat-card >A</mat-card>
            <mat-card >B</mat-card>
            <mat-card >C</mat-card>
          
          </div>
  
          <mat-card class="stats-container">
              <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [title]="chartOptions.title"
            ></apx-chart>
          </mat-card>

        </div>

        
      </div>


</div>


