<div class="flex-container">
    <div style="flex: 1;" class="image-background">

    </div>
    <mat-card class="login-form">
        <div class="image-container">
        </div>

        <div class="form-inputs">

            <div class="logo">
                <h1>Fortune</h1>
                <p>Gestão empresarial</p>
            </div>


             <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Login">
            </mat-form-field>

            <mat-form-field class="example-full-width" >
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Senha" type="password">
            </mat-form-field>

            <button mat-raised-button color="accent" (click) = "doLogin()" routerLink = "/fortune/dashboard">Entrar</button>

        </div>

    </mat-card>

</div>
