<div class="flex-container">

    <div class="login-form">
        <div class="image-container">
            <img src="">
        </div>

        <div class="form-inputs">

            <div class="logo">
                <mat-icon>content_cut</mat-icon>
                <h1>Barbearia Estilo</h1>
            </div>


             <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Login">
            </mat-form-field>

            <mat-form-field class="example-full-width" >
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Senha" type="password">
            </mat-form-field>

            <button mat-raised-button color="accent" routerLink = "/dashboard">Entrar</button>

        </div>

    </div>

</div>
