div.container{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    height: 970px;
    overflow-x: hidden;

}

mat-card.card{
  flex: 1;
  height: 80px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  div.indicador{
      display: flex;
      flex-direction: column;
      text-align: center;
      h1{
          font-size: 2rem;
          margin: 0;
          margin-bottom: 5px;
      }
      p{
          font-size: 1rem;
      }
  }
}


div.progress-chart{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  p{
      position: absolute;
      
  }
  mat-progress-spiner{
      
      position: absolute;

  }
  mat-icon{
      transform: scale(2);
  }
}


  div.table-and-stats{
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 32px;
    .stats-container{
      width: 900px;
      height: 690px;
    }

  }

  div.indicatorsContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    div{
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 16px;

      mat-card{
        flex: 1;
        height: 100px;
      }
    }

  }


  