


<div class="container">
      
    <div class="table-and-stats">
      
      <app-bix-table
        [arrayDeDados] = 'arrayDeProdutos'
        [displayedColumns] = 'displayedColumns'
        [dataSource] = 'dataSource'
        [filterFields] = "filterFields"
        (eventoAtualizar) = 'atualizarProduto($event)'
        (eventoCadastrar) = 'cadastrarProduto()'
        (eventoExcluir) = 'excluirProduto($event)'
        (eventoExcluirMultiplos) = 'excluirMultiplos($event)'

        ></app-bix-table>

      <div class="indicatorsContainer">
        

        
        
        
        
        <div>
          <mat-card class="card">
      

            <div class="indicador">
                <p>Lucro liquido</p>
                <h1>{{painelData.lucro_liquido | currency:'BRL' }}</h1>
    
            </div>
    
        </mat-card>
  
        <mat-card class="card">
      

          <div class="indicador">
              <p>Lucro bruto</p>
              <h1>{{painelData.lucro_bruto   | currency:'BRL'}}</h1>
    
          </div>
    
      </mat-card>
  
        <mat-card class="card">

          <div class="indicador">
              <p>Custo total</p>
              <h1>{{painelData.custo_total   | currency:'BRL'}}</h1>
  
          </div>
  
      </mat-card>
          
         
        
      </div>

        <mat-card class="stats-container">
            <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [title]="chartOptions.title"
          ></apx-chart>
        </mat-card>

      </div>

      
    </div>


</div>



