<div class="mat-app-background material light-theme-mode">

  <app-navbar (toggleSidenavEvent) = "drawer.toggle()" *ngIf = this.userLoggedIn ></app-navbar>





  <mat-sidenav-container class="example-container" hasBackdrop = "false">

    <mat-sidenav mode="over"  #drawer >
      <div class="flex-container">
        
        <button mat-button routerLink = "fortune/dashboard" (click) = 'drawer.toggle()'><mat-icon>dashboard</mat-icon>Dashboard</button>
        <button mat-button routerLink = "fortune/clientes" (click) = 'drawer.toggle()'><mat-icon>person</mat-icon>Clientes</button>
        <button mat-button><mat-icon>attach_money</mat-icon>Vendas</button>
        <button mat-button><mat-icon>inventory_2</mat-icon>Estoque</button>
        <button mat-button><mat-icon>calendar_today</mat-icon>Agendamentos</button>

      </div>
    </mat-sidenav>

    <mat-sidenav-content>


      <router-outlet></router-outlet>

    </mat-sidenav-content>


  </mat-sidenav-container>
 

</div>
