@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');

/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;

}
html, body { 
    height: 100%; 

}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 0;  

}   

.errorSnackBar{
    background-color: rgb(255, 58, 8);
    color: white;
    font-weight: bold;
  }

  .sucessSnackBar{
    background-color: rgb(21, 189, 21);
    color: white;
  }


@import "~@angular/material/theming";

@include mat-core();



$my-primary: mat-palette($mat-indigo);
$my-accent: mat-palette($mat-blue);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat-palette($mat-red);


$light-theme : mat-light-theme($my-primary,$my-accent,$my-warn);

.light-theme-mode{
    @include angular-material-theme($light-theme)
}

$market-primary-dark: mat-palette($mat-blue);
$market-accent-dark: mat-palette($mat-blue-grey);
$market-warn-dark: mat-palette($mat-red);

$market-theme-dark: mat-dark-theme($market-primary-dark, $market-accent-dark, $market-warn-dark);
.dark-theme-mode {
    @include angular-material-theme($market-theme-dark);
}


